.quote{
    font: 400 72px "Arizonia", Helvetica, sans-serif;
    color: #F4654F;
    text-align: center;
}
.post-title{
    color: #F4654F;
    text-align: center;
}
.post-link{
    display:block;
    text-align: center;
    text-transform: capitalize;
    width:50%;
    margin: 0 auto;
    
}
